@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Inter');

////originsl $family-sans-serif: 'Montserrat', sans-serif;
//$family-sans-serif: 'Inter', sans-serif;
//$family-sans-serif: 'Roboto', sans-serif;
$family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Inter, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$family-monospace: 'SF Mono', SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;


//$primary: #46357b !default; //purple
$primary: #3298dc !default; //blue


$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

$modal-content-width: 800px;

@import "../node_modules/bulma/bulma.sass";
$hero-darken: $dark !default;

@import "layout";
@import "syntax";
@import "showcase";
@import "../node_modules/bulma-block-list/src/block-list.scss";

.gh-sponsor {
  color: #ea4aaa;
}